* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f5f7f9;
  font-family: Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  .App {
    margin: 0;
    display: flex;
    min-height: 100vh;
    padding: 40px 20px;
    text-align: center;
    flex-direction: column;
    .button {
      border: none;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 4px;
      text-decoration: none;
      background-color: #0c2b4f;
      &:hover {
        background-color: #4a5f78;
      }
      &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        background-color: #aaa;
      }
    }
  }

  .section {
    padding: 40px;
    margin-bottom: 32px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .flex {
    display: flex;
    .row {
      flex-direction: row;
    }
    .column {
      flex-direction: column;
    }
    .flex-wrap {
      flex-wrap: wrap;
    }
    .flex-wrap-reverse {
      flex-wrap: wrap-reverse;
    }
    .flex-nowrap {
      flex-wrap: nowrap;
    }
    // justify-content
    .justify-normal {
      justify-content: normal;
    }
    .justify-start {
      justify-content: flex-start;
    }
    .justify-end {
      justify-content: flex-end;
    }
    .justify-center {
      justify-content: center;
    }
    .justify-between {
      justify-content: space-between;
    }
    .justify-around {
      justify-content: space-around;
    }
    .justify-evenly {
      justify-content: space-evenly;
    }
    .justify-stretch {
      justify-content: stretch;
    }

    // align items
    .items-start {
      align-items: flex-start;
    }
    .items-end {
      align-items: flex-end;
    }
    .items-center {
      align-items: center;
    }
    .items-baseline {
      align-items: baseline;
    }
    .items-stretch {
      align-items: stretch;
    }
  }
}
